/* ---------------GOOGLE FONTS--------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* ---------------CSS STYLING--------------- */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}

.box {
    border: solid #432000;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    padding: 3% 0%;
    display: grid;
}
.img_shopping {
    width: 40%;
    margin: auto;
    border-radius: 10px;
}
/* ---------------PLACEHOLDER TEXT COLORING --------------- */
::placeholder {
    color: darkgray;
    opacity: 1;
}

input {
    border: none;
    display: block;
    color: #432000;
    background-color: #DCE1EB;
    font-size: large;
    font-family: 'Rubik', sans-serif;
    padding: 15px 20px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    text-align: center;
}
input:focus, textarea:focus {
    outline: 0;
}

button {
    border: 0;
    border-radius: 10px;
    font-size: large;
    font-family: 'Rubik', sans-serif;
    margin: auto;
    margin-top: 5%;
    width: 62%;
    padding: 15px 20px;
    display: block;
    color: #FDFDFD;
    background-color: #AC485A;
}